.bodyWrap {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    margin: 50px auto;
}

.operators {
    display: flex;
}

.operator {
    flex: 1;
}

.panelWrap {
    display: flex;
}

.row {
    display: flex;
}

.number {
    flex: 1;
}

.number, .operator, .rightPanel, .input {
    background-color: aliceblue;
    padding: 1em;
    border: 2px solid red;
    margin: 4px;
}